@layer reset, primevue, app;

@layer app {
  :root {
    --c-cream: #f9f6f0;
    --c-ink: #1a1918;
    --c-matcha: #5b8c5a;
    --c-terracotta: #e06d53;
    --c-butter: #f3e388;
    --c-card: #ffffff;

    --color-background: var(--c-cream);
    --card-background: var(--c-card);

    --border-radius: 12px;
    --border-solid-ink: 3px solid var(--c-ink);
    --shadow-ink-active: 2px 2px 0 var(--c-ink);
    --shadow-ink: 4px 4px 0 var(--c-ink);
    --shadow-ink-hover: 6px 6px 0 var(--c-ink);

    --shadow-ink-card: 7px 7px 0 var(--c-ink);

    --title-font: 'Space Grotesk', sans-serif;
    --text-font: 'Plus Jakarta Sans', sans-serif;
    --code-font: 'JetBrains Mono', monospace;
  }

  .p-chip {
    color: var(--c-ink);
    font-weight: 700;
    border: var(--border-solid-ink);
    box-shadow: var(--shadow-ink);
    --p-chip-padding-x: 0.8rem;
    --p-chip-padding-y: 0.4rem;
  }

  .p-card {
    border: var(--border-solid-ink);
    box-shadow: var(--shadow-ink-card);
    --p-card-background: var(--c-card);
    --p-card-border-radius: var(--border-radius);
  }

  h3 {
    color: var(--c-ink);
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: 700;
  }

  p {
    color: var(--c-ink);
    font-family: var(--text-font);
    font-size: 1.2rem;
  }

  p.subtitle {
    color: var(--c-ink);
    font-family: var(--text-font);
    font-size: 1rem;
  }

  body {
    min-height: 100vh;
    min-width: 320px;
    padding: 0 16rem;
    background: var(--color-background);
    line-height: 1.6;
    font-family:
      serif,
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /*Para que el autocompletado no sombree de gris*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--c-card) inset;
    -webkit-text-fill-color: var(--c-ink);
  }

  ::selection {
    background-color: var(--c-butter);
    color: var(--c-terracotta);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  @media (max-width: 1200px) {
    body {
      padding: 0 6rem;
    }
  }

  @media (max-width: 950px) {
    body {
      padding: 0 1.25rem;
    }
  }
}
